<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'school/styles/search_bar.css' %}">
</head>
<body>
<h1 style="center">ERROR404</h1>
<form action="{% url 'driver_app' %}" method="post">
    {% csrf_token %}
    {{ create_application_form }}
    <button type="submit">Submit</button>
</form>
<br>
<form method="post">
    {% csrf_token %}
    {{ partnership_form}}
    <button type="submit">Submit</button>
</form>
</body>
</html>