<footer>
    {% load static %}
{% load bootstrap3 %}
{% bootstrap_messages %}

    <div class="content-wrapper">
        <div class="footer-content">
            <div class="top">
                <div class="logo-wrapper">
                    <div class="logo">
                        <span> Лого </span>
                    </div>
                    <h6>Автошкола.Ua</h6>
                </div>

                <div class="footer-links">
                    <a href="#" class="link">
                        <i class="fa-brands fa-instagram"></i>
                    </a>

                    <a href="#" class="link">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>

                    <a class="link">
                        <i class="cust-icon icon-people"></i>
                    </a>
                </div>
            </div>
            <div class="footer-middle">
                <div class="cards-wrapper">
                    <a>
                        <span>Стати водієм</span>
                        <i class="fa-solid fa-chevron-right"></i>
                    </a>
                    <a>
                        <span>Стати партнером</span>
                        <i class="fa-solid fa-chevron-right"></i>
                    </a>
                </div>
                <div class="footer-contacts">
                        <span>Контакти</span>
                        <a href="tel:+380956675370">+380(95)667-53-70</a>
                        <span>Email</span>
                        <a href="mailto:google89@gmail.com">google89@gmail.com</a>
                </div>
                <div class="footer-areas-wrapper">
                    <h6> Області </h6>
                    <div class="footer-areas">
                        {% for area in areas|slice:":24" %}
                            <span>{{ area.name }}</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="footer-politic">
                <a href="#">Користувацька угода</a>
                <a href="#">Політика конфеденційності</a>
            </div>
        </div>
    </div>

            <div class="modal-wrapper">
                <div class="modal-content">

                    <h2>Заповніть анкету</h2>
                    <p>
                        З вами з’яжуться, щоб допомогти підібрати автошколу
                    </p>

                    <form action="{% url 'driver_app' %}" method="post">
                        {% csrf_token %}
                        {% bootstrap_form create_application_form %}
                        {{ create_application_form.media }}
                        <button type="submit" class="model-submit">Відправити</button>
                    </form>

                </div>
            </div>
            <div class="modal-wrapper">
                <div class="modal-content">

                    <h2>Заповніть анкету</h2>
                    <p>
                        Ми завжди раді новим партнерам. Будь ласка внесіть данні
                        з вами зв’яжуться найближчим часом
                    </p>

                    <form method="post">
                        {% csrf_token %}
                        {% bootstrap_form partnership_form %}
                        {{ partnership_form.media }}
                        <button type="submit" class="model-submit">Submit</button>
                    </form>

                </div>
            </div>

</footer>

<script src="https://kit.fontawesome.com/e23493b56f.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script defer src="{% static 'school/js/footer-anchor.js' %}"></script>
<script src="{% static 'school/js/home-form.js' %}"></script>
<script src="{% static 'school/js/footer-form.js' %}"></script>

{% block content %}
{% endblock %}

</body>
</html>