
{% extends 'school/base.html' %}
{% block content %}


{% load static %}
{% load bootstrap3 %}
{% bootstrap_messages %}

<section class="home-search">
    <div class="content-wrapper">
        <div class="search-content">

            <h1>Заголовок H1</h1>

            <p> It is a long-established fact that a reader will be distracted </p>
            <p> by the readable content of a page when looking at its layout </p>

            <form  class="search-wrapper" action="{% url 'search' %}" method="get">

                <i class="fa-solid fa-location-dot"></i>


                <input id="home-search"
                       name="searched"
                       type="text"
                       onkeyup="homeSearch()"
                       placeholder="Пошук:  містом, кодом міста та автошколи"
                       autocomplete="off">

                <div class="abc-icon-wrapper">
                    <i class="cust-icon icon-abc"></i>
                    <i class="fa-solid fa-caret-up"></i>
                </div>

                <button class="icon-search" type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>

            </form>
            {% if error %}
            {{ error }}
            {% endif %}
            <div class="politic-wrapper">
                <i class="fa-solid fa-check"></i>
                <span>Користувацька угода</span>
            </div>

            <div class="abc-block-wrapper">
                <div class="abc-block">
                    {% for letter in letters %}
                        <span>{{ letter.letter }}</span>
                    {% endfor %}
                </div>
                <div class="black-block"></div>
            </div>

            <div id="search-result">
                {% for info in schools %}
                <div class="search-item">
                    <i class="fa-solid fa-location-dot"></i>
                    <div class="school-info">
                        <a href="{% url 'view_school' info.id %}">
                            {{ info.name }}
                        </a>
                        <a href="{% url 'search_authoschool' info.city_of_unit.name %}">
                            {{ info.city_of_unit.name }} - {{ info.city_of_unit.post_code }}
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<section class="cards">
    <div class="content-wrapper">
        <div class="cards-content">

            <div class="card">
                <h3> Стати водієм у два кліка </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nunc id nisi id justo malesuada pellentesque.
                </p>
                <button class="modal-button">
                    <span> Стати водієм </span>
                    <i class="fa-solid fa-angle-right"></i>
                </button>
            </div>
                
            <div class="card">
                <h3> Стати партнером у два кліка </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nunc id nisi id justo malesuada pellentesque.
                </p>
                <button class="modal-button">
                    <span> Стати партнером </span>
                    <i class="fa-solid fa-angle-right"></i>
                </button>
            </div>

        </div>
    </div>
</section>

<section class="find-city"  >
    
    <div class="find-background">
        <img src="{% static 'school/map-ukraine.png' %}"
             alt="Ukraine map"
             width="915px" height="620px">
    </div>
    
    <div class="content-wrapper">
        <div class="find-content">
            <div class="find-filter">
                <h3> Знайди своє </h3>
                <p>
                    Щоб здійснити пошук свого міста ви можете
                    скористуватися пошуком по областях або літерах
                </p>

                <div class="title-wrapper">
                    <div class="find-title active-title">
                        <span> Області </span>
                        <i class="fa-regular fa-map"></i>
                    </div>

                    <div class="find-title">
                        <span> Літери </span>
                        <i class="cust-icon icon-abc"></i>
                    </div>
                </div>

                <div class="city">
                    <div class="areas-block">
                        {% load new_tags %}

                        {% for area in areas|slice:":24" %}
                            <div class="area-wrapper">
                                <span>{{ area.name }}</span>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="letters-block">
                        {% for letter in letters %}
                        <div class="letter-wrapper">
                            <span>{{ letter.letter }}</span>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="find-result">
                <div class="areas-result">
                    {% load new_tags %}
                    {% for area in areas|slice:":24" %}
                        <div class="result-block">
                            <h3> Знайдені міста "{{ area.name }}" </h3>

                            <div class="slideshow-container">

                                <div class="mySlides fade">
                                    <div class="city-result">
                                        {% load new_tags %}
                                        {% for lcity in area.cities|split:'|'|slice:":22" %}
                                            <a href="{% url 'search_authoschool' lcity  %}">
                                                <li>{{ lcity }}</li>
                                            </a>
                                        {% endfor %}
                                    </div>
                                </div>

                                <div class="mySlides fade">
                                    {% if area.cities|split:'|'|length > 22 %}
                                        <div class="city-result">
                                            {% load new_tags %}
                                            {% for lcity in area.cities|split:'|'|slice:"22:44" %}
                                                <a href="{% url 'search_authoschool' lcity  %}">
                                                    <li>{{ lcity }}</li>
                                                </a>
                                            {% endfor %}
                                        </div>

                                </div>
                                <div class="mySlides fade">
                                        <div class="city-result">
                                            {% load new_tags %}
                                            {% for lcity in area.cities|split:'|'|slice:"44:66" %}
                                                <a href="{% url 'search_authoschool' lcity  %}">
                                                    <li>{{ lcity }}</li>
                                                </a>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>

                                <a class="prev" onclick="plusSlides(-1)">❮</a>
                                <a class="next" onclick="plusSlides(1)">❯</a>

                            </div>

                        <br>

                        <div style="text-align:center">
                          <span class="dot" onclick="currentSlide(1)"></span>
                          <span class="dot" onclick="currentSlide(2)"></span>
                          <span class="dot" onclick="currentSlide(3)"></span>
                        </div>

<!--
                            <div class="city-result">
                                {% load new_tags %}
                                {% for lcity in area.cities|split:'|'|slice:":22" %}
                                    <a href="{% url 'search_authoschool' lcity  %}">
                                        <li>{{ lcity }}</li>
                                    </a>
                                {% endfor %}
                            </div>

                            {% if area.cities|split:'|'|length > 22 %}
                                <div class="city-result">
                                    {% load new_tags %}
                                    {% for lcity in area.cities|split:'|'|slice:"22:44" %}
                                        <a href="{% url 'search_authoschool' lcity  %}">
                                            <li>{{ lcity }}</li>
                                        </a>
                                    {% endfor %}
                                </div>

                                <div class="city-result">
                                    {% load new_tags %}
                                    {% for lcity in area.cities|split:'|'|slice:"44:66" %}
                                        <a href="{% url 'search_authoschool' lcity  %}">
                                            <li>{{ lcity }}</li>
                                        </a>
                                    {% endfor %}
                                </div>
                            {% endif %}
-->

                            <i class="cust-icon icon-arrow"></i>
                        </div>
                    {% endfor %}
                </div>

                <div class="letters-result">
                    {% for letter in letters %}
                    <div class="result-block">
                        <h3> Знайдені міста за літерою "{{ letter.letter }}" </h3>
                        <div class="city-result">
                            {% load new_tags %}
                            {% for acity in letter.city_of_alphabet|split:'|' %}
                                <a href="{% url 'search_authoschool' acity  %}">
                                    <li>{{ acity }}</li>
                                </a>
                            {% endfor %}
                        </div>
                        <i class="cust-icon icon-arrow"></i>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

<section class="statistics">
    <div class="content-wrapper">
        <div class="statistic-content">
            <div class="statistic ">
                <i class="cust-icon icon-two-people"></i>
                <p> {{ len_apps }} </p>
                <span> Подали заявок </span>
            </div>
            <div class="statistic">
                <i class="cust-icon icon-city"></i>
                <p> {{ len_cities }} </p>
                <span> Міст по Україні </span>
            </div>
            <div class="statistic">
                <i class="cust-icon icon-graduation-cap"></i>
                <p> {{ len_schools }} </p>
                <span> Автошкіл по Україні </span>
            </div>
        </div>
    </div>
</section>

<section class="catalog">
    <div class="content-wrapper">
        <div class="catalog-content">

            <img class="desktop-road"
                 src="{% static 'school/desktop-road.png' %}"
                 alt="Not found" width="620px" height="590px">

            <img class="tablet-road"
                 src="{% static 'school/tablet-road.png' %}"
                 alt="Not found" width="760px" height="424px">

            <img class="mobile-road"
                 src="{% static 'school/mobile-road.png' %}"
                 alt="Not found" width="620px" height="590px">

            <div class="catalog-text">
                <h2> Каталог автошкіл по Україні </h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Sed ornare, libero at mattis gravida, lacus libero maximus sem,
                    in fringilla sapien tortor non magna. Vestibulum porttitor
                    lacinia augue id gravida. Quisque venenatis consequat dictum.
                </p>

                <span>Більше...</span>

                <p>
                    Mauris quis nisl auctor, laoreet libero a, ultrices mi.
                    Nullam fringilla justo sit amet nibh aliquet, et volutpat ante posuere.
                    Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    Phasellus tempus lacinia orci at ullamcorper. Donec non hendrerit quam.
                    Aenean suscipit condimentum arcu at condimentum.
                </p>

                <h3>Заголовок H3</h3>

                <p>
                    Nullam volutpat purus eu purus euismod, sed consequat massa facilisis.
                    Etiam placerat, odio bibendum pellentesque vestibulum, eros odio ultricies justo,
                    vel tincidunt nunc odio at mi. Ut tortor dui, posuere ac scelerisque ut, hendrerit ut dolor.
                    Aenean nec luctus lacus. Integer neque augue, vulputate quis tellus id,
                    pulvinar ullamcorper quam.
                </p>

            </div>
        </div>
    </div>
</section>

<section class="add-school">
    <div class="content-wrapper add-school-wrapper">
        <div class="add-school-content">

            <h2> Додати автошколу </h2>

            <p>
                Якщо бажаєте додати школу якої нема на нашому
                сайті присилайте дані на нашу електронну пошту.
            </p>

            <a href="mailto:google89@gmail.com">google89@gmail.com</a>

            <p>
                Ми обов'язково перевіримо їх та розмістимо в нашій базі.
            </p>

        </div>
    </div>
</section>


<script defer src="{% static 'school/js/itc-slider.js' %}"></script>


<script src="{% static 'school/js/home-search.js' %}"></script>
<script src="{% static 'school/js/home-find.js' %}"></script>
<script src="{% static 'school/js/home-anchor.js' %}"></script>
<script src="{% static 'school/js/home-form.js' %}"></script>

{% endblock %}

