<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'school/base.html' %}
{% block content %}

<ol itemscope itemtype="https://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope
      itemtype="https://schema.org/ListItem">
    <a itemprop="item" href="{% url 'home' %}">
    <span itemprop="name">Головна</span></a>
    <meta itemprop="position" content="1" />
  </li>
  <li itemprop="itemListElement" itemscope
      itemtype="https://schema.org/ListItem">

    <a itemprop="item" href="{% url 'search_authoschool' school.city %}">
    <span itemprop="name">{{ school.city }}</span></a>
    <meta itemprop="position" content="2" />
  </li>
  <li itemprop="itemListElement" itemscope
      itemtype="https://schema.org/ListItem">
    <a itemprop="item" >
    <span itemprop="name">{{ school_unit.driverschool.name }}</span></a>
    <meta itemprop="position" content="3" />
  </li>
</ol>

<br>
<br>

<img src="{{ school.image2.url }}" width="330" height="365" alt="">
<img src="{{ school.image3.url }}" width="330" height="365" alt="">
<img src="{{ school.image4.url }}" width="330" height="365" alt="">
<img src="{{ school.image5.url }}" width="330" height="365" alt="">


<p>{{ school_unit.score }}</p>

<p>{{ school.name }}</p>
<p>{{ school.description }}</p>

{% for course in school_unit.cources.all %}
<p>{{ course.short_description }}</p>
<p>{{ course.category.description }}</p>
{% endfor %}


{% load new_tags %}
<p>{% for contact in school_unit.contact|split:',' %}</p>
<p>
  {{ contact }}
</p>
{% endfor %}

<p>{{ school.address }}</p>


<iframe src="{{ url_address }}"
        width="1280" height="400" style="border:0;" allowfullscreen=""
        loading="lazy" referrerpolicy="no-referrer-when-downgrade">
</iframe>

{% endblock %}

</body>
</html>