footer {
    background-color: #000;
    font-family: "Mulish", sans-serif;
    font-style: normal;
    color: #fff;
}

.top {
    display: flex;
    justify-content: space-between;
}

.logo {
    background: rgba(255, 255, 255, 0.8) !important;
}

.logo > span {
    color: #000;
}

.footer-links {
    display: flex;
}

.link{
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    margin: 0 10px 0;
}

.link > i {
    font-size: 20px;
    color: #fff;
}

.footer-middle {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 25px 0 40px;
}

.cards-wrapper {
    order: 1;
}

.cards-wrapper > a {
    cursor: pointer;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    text-align: center;
    padding: 5px 20px;
    border-radius: 12px;
    margin: 20px 0 0;
}

a > span{
    margin: 0 15px 0 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #000;
    text-decoration: none;
}

.fa-chevron-right {
    font-size: 12px;
    width: 35px;
    height: 35px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    background: #F28800;
    color: #fff;
    border-radius: 50%;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    margin: 0 0 40px;
}

.footer-contacts {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 0fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
}

.footer-contacts > span {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    margin: 0 0 15px;
}

.footer-contacts > span:last-of-type {
    display: none;
}

.footer-contacts > a {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: #FFFFFF;
    margin: 0 0 10px;
}


.footer-areas-wrapper {
    display: flex;
    flex-direction: column;
}

.footer-areas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, 0fr);
    grid-column-gap: 40px;
    grid-row-gap: 10px;
    grid-auto-flow: column;
}

.footer-areas-wrapper > h6 {
    font-weight: 700;
    font-size: 18px;
    line-height: 23px
}


.footer-areas > span {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
}

.footer-column {
    display: flex;
    flex-direction: column;
}

.footer-politic {
    display: flex;
    padding: 20px 0 0;
    border-top: 2px solid #fff;
}

.footer-politic > a {
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.8);
    margin: 0 40px 0 0;
}



@media screen and (min-width: 320px) and (max-width: 767px) {

    .footer-content {
        padding: 25px 0 50px;
    }

}

@media screen and (min-width: 768px) and (max-width: 1919px) {

    .footer-content {
        padding: 40px 0 40px;
    }

}

@media screen and (min-width: 1920px) {

    .footer-content {
        padding: 45px 0 70px;
    }

}
