
.header {
    max-height: 700px;
    overflow: hidden;
}

.footer__middle {
    display: none;
}
.headline {
    position: absolute;
    top: 255px;
    left: 0;
    right: 0;

    max-width: 765px;

    margin: 0 auto;
    text-align: center;

    color: #ffffff;
}

.headline > span {
    font-size: 18px;
    line-height: 23px;
}

.button--back-home {
    position: absolute;
    top: 375px;
    right: -245px;
    display: flex;
    align-items: center;
}

.button--back-home > span {
    margin: 0 10px;
}

.button--back-home > span {
    color: rgba(255, 255, 255, 0.8);
}

.button--back-home > i {
    color: rgba(255, 255, 255, 0.8);
    transform: rotate(180deg);
}

.breadcrumbs {
    margin: 10px 0 60px;
}

.breadcrumbs__home,
.breadcrumbs__city,
.breadcrumbs__school-name {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.6);
}

.school-info__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.school-name {
    margin: 0 0 40px;
}

.rating-name-description {
    width: 50%;
}

.photo--tablet {
    display: none;
}

.photo--desktop {
    display: flex;
}

.photo--tablet{
    display: none;
}

.photo--mobile{
    display: none;
}

.photo--desktop > img {
    border-radius: 12px;
    object-fit: cover;
}

.more-photo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 40px 0 0;
}

.more-photo > img {
    border-radius: 12px;
    object-fit: cover;
}

.category {
    display: flex;
    margin: 20px 0;
    width: 100%;
}

.category > b {
    padding: 5px 0;
}

.schools-category {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 15px;
}

.schools-category > span {
    padding: 8px 15px;
    margin: 0 15px 10px 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.schools-category span {
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 0.8);
    border-radius: 21px;
}

.active {
    color: #fff !important;
    border: 2px solid #F28800 !important;
    background: #F28800 !important;
}

.actives {
    background: #F28800 !important;
}


.schools-info {
    margin: 0 0 90px;
}


.schools-price {
    margin: 0 0 20px;
}


.schools-price__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.schools-price__content > h3 {
    margin: 0 0 25px;
}

.course-wrapper {
    max-width: 700px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 0 40px;
    padding: 40px;

    border-radius: 12px;


    background: #FFFFFF;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}

.course-info {
    text-align: center;
}

.button--price {
    padding: 8px 20px 8px 15px;
    height: fit-content;
}

.button--price > span{
    font-size: 12px;
    font-weight: 100;
}

.button--price > span > b{
    font-size: 22px;
    font-weight: 700;
}


.schools-address {
    margin: 0 0 60px;
}

.schools-address__content > iframe {
    border-radius: 12px;
}

.address-contact-wrapper {
    display: flex;
    justify-content: space-between;

    margin: 0 0 40px;
}

.address {
    display: flex;
    margin: 10px 0 0;
}

.phone-number {
    display: flex;
    flex-direction: row;

    margin: 10px 0 0;
}
.phone-number > i {
    transform: rotate(270deg);
    margin: 0 10px 0 0;
    font-size: 16px;
}



.button--submit > i {
    display: flex !important;
}

.other-school__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 0 160px;
}

.other-school__content > h3 {
    margin: 0 0 20px;
}

.schools--mobile {
    display: none;
}

.schools--desktop {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.school-info {
    max-width: 950px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 0 0 40px;


    background: #FFFFFF;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    padding: 30px 70px 30px 40px;
}

.school-text {
    max-width: 60%;
}

.school-score {
    margin: 0 0 5px;
}

.school-text > h3 {
    font-size: 24px;
    line-height: 30px;
    margin: 0 0 15px;
}

.school-address {
    display: flex;
    align-items: center;
    margin: 15px 0;
    width: 60%;
}

.school-address > i {
    margin: 0 10px 0 0;
    font-size: 16px;
}

.school-phone {
    margin: 0 0 40px;
}

.school-phone > i {
    transform: rotate(270deg);
    margin: 0 10px 0 0;
    font-size: 16px;
}

.school-text > a {
    width: fit-content;
}

.school-text > a:hover {
    text-decoration: none;
}

.school-img-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.school-img-category > img {
    border-radius: 12px;
    object-fit: cover;
}

.img-category-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.img-category-wrapper > span {
    margin: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {

    .photo--desktop {
        display: none;
    }

    .photos {
        overflow: hidden;
    }

    .photo--tablet {
        display: block;
        white-space:nowrap;
        overflow-x: scroll;
        -webkit-overflow-scrolling:touch;
    }

    .photo--tablet::-webkit-scrollbar {
      display: none;
    }

    .photo--tablet > img {
        margin: 0 20px;
        border-radius: 12px;
        object-fit: cover;
    }

    .rating-name-description {
        width: 100%;
        padding: 44px 50px;
        margin: 40px 0;
        border-radius: 12px;
        background: #FFFFFF;
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
    }

    .button--back-home {
        right: 34px;
    }

    .address-contact-wrapper {
        flex-direction: column;
    }

    .contacts-wrapper {
        margin: 20px 0 0;
    }

    .school-info {
        padding: 30px 40px;
    }

    .school-img-category {
        justify-content: center;
    }

}

@media screen and (min-width: 320px) and (max-width: 767px) {

    .header__background--mobile {
        max-height: 420px;
        object-fit: cover;
    }

    .headline {
        max-width: 288px;
    }

    .headline {
        top: 155px;
    }

    .headline > h1 {
        font-weight: 800;
        font-size: 14px;
        line-height: 18px;
    }

    .headline > span {
        font-size: 11px;
        line-height: 14px;
    }

    .button--back-home {
        top: 205px;
        right: 0;
    }

    .button--back-home > span {
        font-size: 14px;
        line-height: 18px;
    }

    .breadcrumbs__home,
    .breadcrumbs__city,
    .breadcrumbs__school-name {
        font-size: 9px;
        line-height: 11px;
    }

    .photo--desktop {
        display: none;
    }

    .photo--tablet{
        display: none;
    }

    .photos {
        overflow: hidden;
    }

    .photo--mobile {
        display: block;
        white-space:nowrap;
        overflow-x: scroll;
        -webkit-overflow-scrolling:touch;
    }

    .photo--mobile::-webkit-scrollbar {
      display: none;
    }

    .photo--mobile > img {
        margin: 0 20px;
        border-radius: 12px;
        object-fit: cover;
    }

    .rating-name-description {
        width: 100%;
        padding: 18px;
        margin: 40px 0 20px;
        border-radius: 12px;
        background: #FFFFFF;
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    }

    .school-name {
       font-size: 18px;
       line-height: 23px;
    }

    .school-description {
        font-size: 10px;
        line-height: 15px;
    }

    .category {
        flex-direction: column;
    }

    .category > b {
        text-align: center;
        margin: 0 0 15px;
    }

    .schools-category {
        width: 100%;
        margin: 0;
    }

    .schools-category > span {
        font-size: 14px;
        margin: 0 8px 0 0;
        padding: 5px 8px;
    }

    .schools-category > span:nth-child(-n+6){
        max-width: 70px;
        width: 100%;
        margin: 0;
    }


    .schools-category > span:nth-child(2){
        margin: 0 39px;
    }

    .schools-price__content > h3 {
        font-size: 16px;
        line-height: 22px;
    }

    .course-wrapper {
        flex-direction: column;
        align-items: center;
        padding: 25px 0 40px;
    }

    .button--price {
        max-width: 190px;
        width: 100%;
        justify-content: center;
    }


    .button--price > i {
        display: none !important;
    }

    .address-contact-wrapper {
        flex-direction: column;
        margin: 0 0 70px;
    }

    .address-contact-wrapper i {
        margin: 0 10px 0 0;
        font-size: 20px;
    }

    .address {
        font-size: 14px;
        line-height: 20px;
    }

    .address > span {
        font-size: 10px;
        line-height: 14px;
    }

    .contacts-wrapper {
        margin: 20px 0 0;
        font-size: 14px;
        line-height: 20px;
    }

    .phone-number > a{
        font-size: 10px;
        line-height: 14px;
    }

    .schools--desktop {
        display: none;
    }

    .schools--mobile {
        display: block;
    }

    .school-info {
        flex-direction: column;
        padding: 20px 16px 45px;
    }

    .school-info > h3 {
        font-size: 16px;
        line-height: 20px;
        margin: 0 0 20px;
    }

    .school-address {
        font-size: 10px;
        line-height: 13px;
    }

    .school-address i{
        font-size: 20px;
        margin: 0 10px 0 0;
    }
    .school-phone {
        font-size: 10px;
        line-height: 13px;
    }

    .school-phone i{
        font-size: 16px;
        margin: 0 7px 0 0;
    }

    .school-info .button--submit > i {
        display: none !important;
    }

    .school-info .button--submit {
        padding: 12px 35px;
    }
    .school-info > a {
        display: flex;
        justify-content: center;
    }


}