/*  table of content

    1. header

    2. section 1

    3. section 2

    1. header

  */


/* ==============
   header
   ============== */


.header {
    max-height: 700px;
    overflow: hidden;
}

/* ==============
   section 1
   ============== */


.city-info {
    position: absolute;
    top: 255px;
    right: 0;
    left: 0;
    color: #fff;
}

.city-info-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.city-info-content > h2 {
    font-size: 70px;
    line-height: 88px;
    margin: 0 0 20px;
}

.city-info-content > p {
    width: 45%;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.015em;
}

.button--back-home {
    position: absolute;
    top: 375px;
    right: 350px;
    display: flex;
    align-items: center;
}

.button--back-home > span {
    margin: 0 10px;
}

.button--back-home > span {
    color: rgba(255, 255, 255, 0.8);
}

.button--back-home > i {
    color: rgba(255, 255, 255, 0.8);
    transform: rotate(180deg);
}



/* ==============
    section 2
   ============== */


    /* breadcrumbs */

.breadcrumbs {
    margin: 10px 0 60px;
}

.breadcrumbs span {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.6);
}

    /* layouts */


.results-content h2 {
    margin: 0 0 30px;
}

.filter-result-wrapper {
    display: flex;
    justify-content: space-between;
}

.filters {
    max-width: 290px;
    position: relative;
    padding: 20px 0 0;
}

.filters  > form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-wrapper {
    background: #FFFFFF;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    margin: 0 0 20px;
}

.category-wrapper h6 {
    padding: 20px 108px;
    border-radius: 12px 12px 0 0 ;
    background: #000;
    color: #fff;
}

.category {
    padding: 20px 13px 40px;
}

.main-category {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 0fr);
    grid-row-gap: 15px;
    grid-column-gap: 22px;
    margin: 0 0 15px;
}

.other-category {
    display: flex;
}

label {
    position: relative;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}



.category label {
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 0.8);
    border-radius: 21px;
}

.active {
    color: #fff !important;
    border: 2px solid #F28800 !important;
    background: #F28800 !important;
}

.actives {
    background: #F28800 !important;
}

.main-category label {
    width: 100%;
    padding: 7px 10px;
}

.other-category label {
    width: fit-content;
    margin: 0 6px 0 0;
    padding: 7px 13px;
}

.other-filter {
    width: 100%;
    margin: 0 0 10px;
}

.other-filter label {
    width: 100%;
    padding: 0 0 0 20px;
    background: #FFFFFF;
    box-shadow: 0 0 20px rgb(0 0 0 / 15%);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 20px;
}

.icon-price,
.other-filter > label > i:nth-child(1n+1) {
    background: #000;
    color: #fff;
    width: 30%;
    display: flex;
    justify-content: center;
    padding: 13px 20px;
    border-radius:  0 12px 12px 0;
}
.icon-price {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 18px 20px;
}

.icon-price > i{

    font-size: 12px;
}

.other-filter > label:last-child > i:last-of-type  {
    padding: 21px 20px;
}

.filters button {
    border: none;
    border-radius: 0;
    outline: none;

    background: #f9f9fc;
    border-bottom: 2px solid #F28800;
}


button:focus {
    outline: none;
}

/* Hide the browser's default radio button */
input[type="radio"]{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.result-wrapper {
    max-width: 950px;
    width: 100%;
}

.result--mobile {
    display: none;
}


.slider {
    max-width: 950px !important;
}

.slide {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
}


.slider__btn {
    border: none;
    background: none !important;
    color: #F28800 !important;
}


.school-info {
    display: flex;
    width: 100%;
    height: 360px;
    flex-direction: row;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    padding: 30px 70px 30px 40px;
    margin: 0 0 40px;

}

.school-text {
    max-width: 60%;
}

.school-score {
    margin: 0 0 5px;
}

.school-text > h3 {
    font-size: 24px;
    line-height: 30px;
    margin: 0 0 15px;
}

.school-address {
    display: flex;
    align-items: center;
    width: 85%;
    margin: 15px 0;
}

.school-address > i {
    margin: 0 10px 0 0;
    font-size: 16px;
}

.school-phone {
    margin: 0 0 40px;
}

.school-phone > i {
    transform: rotate(270deg);
    margin: 0 10px 0 0;
    font-size: 16px;
}

.school-text > a {
    width: fit-content;
}

.school-text > a:hover {
    text-decoration: none;
}

.school-img-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.school-img-category > img {
    border-radius: 12px;
}

.button--submit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    padding: 11px 20px;
    text-align: center;

    border: none;
    border-radius: 12px;

    background: #F28800;
}

.button--submit > span {
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
}

.button--submit > i {
    display: flex !important;
    margin: 0 0 0 20px;
    width: 35px;
    height: 35px;
    color: #F28800;
    background: #fff;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.img-category-wrapper {
    width: 100%;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0 0;
}

.area-map {
    margin: 160px 0 20px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {

    .city-info-content > h1 {
        font-size: 28px;
        line-height: 35px;
    }

    .city-info-content > p{
        width: 90%;
        font-weight: 100;
        font-size: 10px;
        line-height: 22px;

        text-align: center;
        letter-spacing: 0.015em;

        color: #FFFFFF;
    }

    .button--back-home {
        top: 270px;
        right: 16px;
    }

    .button--back-home >span {
        font-size: 12px;
        line-height: 14px;
    }

    .city-info-content > p:last-of-type {
        display: none;
    }

    .area-map {
        max-height: 125px;
    }

    .breadcrumbs > a{
        font-size: 9px;
        line-height: 11px;
    }

    .breadcrumbs > span{
        font-size: 9px;
        line-height: 11px;
    }

    .results-content > h2 {
        font-size: 22px;
        line-height: 28px;
    }

    .main-category > label {
        font-size: 13px;
    }

    .filter-result-wrapper {
        flex-direction: column;
        justify-content: start;
    }

    .filters {
        margin: 0 0 60px;
    }

    .result--desktop {
        display: none;
    }

    .result--mobile {
        display: none;
    }



    .slide {
        padding: 20px 16px 0;
    }

    .school-info {
        position: relative;
        max-width: 288px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: #FFFFFF;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        border-radius: 12px;
        padding: 20px 16px 40px;
        margin: 0 0 40px;
    }

    .school-text {
        max-width: 100%;
    }

    .school-score {
        margin: 0 0 5px;
    }

    .school-text > h3 {
        font-size: 16px;
        line-height: 20px;
        calc(var(this. height) - 1);
        margin: 0 0 300px;
    }

    .school-address {
        font-size: 10px;
        line-height: 13px;
    }

    .school-address > i {
        margin: 0 10px 0 0;
        font-size: 16px;
    }

    .school-phone {
        font-size: 10px;
        line-height: 13px;
        margin: 0 0 40px;
    }

    .school-phone > i {
        transform: rotate(270deg);
        margin: 0 10px 0 0;
        font-size: 16px;
    }

    .school-text > a {
        width: fit-content;
    }

    .school-text > a:hover {
        text-decoration: none;
    }

    .school-img-category {
        position: absolute;
            top: 115px;
            right: 0;
            left: 0;
    }

    .button--submit {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .school-text  .button--submit  i,
    .school-text  .button--submit  .fa-angle-right {
        display: none !important;
    }

}

@media screen and (min-width: 768px) and (max-width: 1279px) {

    .city-info-content > p{

        width: 90%;
        font-weight: 100;
        font-size: 12px;
        line-height: 22px;

        text-align: center;
        letter-spacing: 0.015em;

        color: #FFFFFF;
    }

    .button--back-home {
        top: 400px;
        right: 34px;
        margin: 0 15px 0 0;
    }

    .button--back-home > span {
        font-weight: 100 !important;
        font-size: 15px;
        line-height: 23px;
        text-decoration: none;
    }

    .area-map {
        max-height: 240px;
    }


    .filter-result-wrapper {
        flex-direction: column;
        justify-content: start;
    }

    .filters {
        max-width: 100%;
        width: 100%;
        margin: 0 0 50px;
    }

    .category-wrapper {
        width: 100%;
    }

    .category-wrapper > h6 {
        text-align: center;
    }

    .category {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-category {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        grid-template-columns: none;
        grid-template-rows: none;
        grid-row-gap: 0;
        grid-column-gap: 0;
        margin: 0 0 15px;
    }

    .main-category > label {
        padding: 10px 20px;
        font-size: 15px;
        width: fit-content;
    }

    .other-category {
        display: flex;
        justify-content: space-evenly;
        width: 50%;
    }

    .other-filter {
        display: flex;
    }

    .other-filter > label{
        margin: 0 10px 0;
    }


    .school-text > h3 {
        font-size: 20px;
        line-height: 25px;
    }

}
